doctype html
head
    meta(charset='UTF-8')
    title Mob Time !
    link(rel='stylesheet' type='text/css' href='/css/normalize.css')
    link(href='/css/google-fonts.css' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/css/mob/main.css')
    link(rel='icon' type='image/png' href='/image/favicon.png')
main#panel
    nav
        button.settings-button
            i(class="fas fa-cog")
    form#container(name='container')
        section#clock
            button#start-pause
                i#control-icons.fas
                span#time-left
            svg#countdown
                circle#countdown-circle-background(r='92' cx='99' cy='99')
                circle#countdown-circle(r='92' cx='99' cy='99')
            if pomodoro.feature
                svg#pomodoro
                    circle#pomodoro-outer(r='107' cx='120' cy='120')
                    circle#pomodoro-background(r='103' cx='120' cy='120')
                    circle#pomodoro-circle(r='103' cx='120' cy='120')
        section#title
            h1: a(href="/" title="Home") Mob Time
            h2 You are in the <em>#{mobName}</em> mob
                a(href="javascript:" id="share-room" title="Copy mob url to clipboard")
                    i(class="fas fa-link")
        ul#members

        a#github(href="https://github.com/HadrienMP/mob-time" target="_blank")
            i.fab.fa-github
            | Fork, contribute, improve, deploy, have fun !

section#settings
    h2
        i(class='fas fa-users')
        | Shared with the mob
    fieldset
        input#minutes-by-person(type='number' min='1' max='60' required='' value=length size='2')
        label(for='minutes-by-person') minutes / pers.
    if pomodoro.feature
        fieldset
            input#pomodoro-active(type='checkbox' checked=pomodoro.active)
            label(for='pomodoro-active') Pomodoro (experimental)
        fieldset#turns-by-pomodoro-fieldset
            input#turns-by-pomodoro(type='number' min='1' max='25' required='' value=pomodoro.turns size='2')
            label(for='turns-by-pomodoro') Number of turns by pomodoro

    h2
        i(class='fas fa-user-secret')
        | Personal
    fieldset
        input#second-counting-mode(type='checkbox')
        label(for='second-counting-mode') Display seconds
    fieldset#volume-container
        label(for='volume')
            i.fas.fa-volume-up
        input#volume(type='range' min='1' max='100' value='50')
    fieldset
        label(for='alarm-url') mp3
        textarea#alarm-url
            | https://www.myinstants.com/media/sounds/celebration.mp3
            | https://www.myinstants.com/media/sounds/denis-brogniart-ah-original.mp3
            | https://www.myinstants.com/media/sounds/over-9000.mp3
            | https://www.myinstants.com/media/sounds/psy-gangnam-style-1.mp3
            | https://www.myinstants.com/media/sounds/intro-uefa-champions-league2.mp3
            | https://www.myinstants.com/media/sounds/-fort-boyard-audio-cutter.mp3
            | https://www.myinstants.com/media/sounds/poudreperlinpinpin.mp3
            | https://www.myinstants.com/media/sounds/the-sound-of-silence.mp3

audio#alarm-sound
    source(type='audio/mpeg' src='')

script(src='/js/slideout.min.js')
script(src='/js/fontawesome.js')
script(type='application/javascript' src='/socket.io/socket.io.js')
script(type='application/javascript' src='https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js')
script(type='application/javascript').
    mobName = "#{mobName}";
script(type='application/javascript' src='/js/bundle.js')
script(type='application/javascript').
    var slideout = new Slideout({
                                    'panel': document.getElementById('panel'),
                                    'menu': document.getElementById('settings'),
                                    'padding': 400,
                                    'tolerance': 70,
                                    'side': 'right'
                                });
    // Toggle button
    document.querySelector('.settings-button').addEventListener('click', function () {
        slideout.toggle();
    });
